
.FilterStyle{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: max-width .25s ease-in;
    transition: max-width .25s ease-in;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem 0;
}

.MainContent{
    min-height: 80vh;
}